<a href="https://colab.research.google.com/github/gowtham777y/Random-forest-classifier/blob/main/Random_Forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("AdultIncome.csv")

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le=LabelEncoder()

In [6]:
df["education"]=le.fit_transform(df["education"])
df["marital status"]=le.fit_transform(df["marital status"])
df["race"]=le.fit_transform(df["race"])
df["gender"]=le.fit_transform(df["gender"])
df["IncomeClass"]=le.fit_transform(df["IncomeClass"])
df["wc"]=le.fit_transform(df["wc"])
df

       age  wc  education  ...  gender  hours per week  IncomeClass
0       38   3          2  ...       1              40            0
1       28   3          0  ...       0              40            0
2       37   3          3  ...       0              40            0
3       31   3          3  ...       0              50            1
4       42   3          0  ...       1              40            1
...    ...  ..        ...  ...     ...             ...          ...
19782   53   3          3  ...       1              40            1
19783   22   3          6  ...       1              40            0
19784   40   3          2  ...       1              40            1
19785   58   3          2  ...       0              40            0
19786   22   3          2  ...       1              20            0

[19787 rows x 8 columns]

In [8]:
x=df.drop(columns="IncomeClass").values
y=df["IncomeClass"].values

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [11]:
from sklearn.tree import DecisionTreeClassifier

In [12]:
dtc=DecisionTreeClassifier(random_state=0)

In [13]:
dtc.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [14]:
y_pred=dtc.predict(x_test)

In [15]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [16]:
score=accuracy_score(y_test,y_pred)

In [17]:
cm1=confusion_matrix(y_test,y_pred)

Random Forest Classifier

In [18]:
from sklearn.ensemble import RandomForestClassifier

In [19]:
rfc=RandomForestClassifier(random_state=0)

In [20]:
rfc.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [21]:
y_pred2=rfc.predict(x_test)

In [22]:
score2=accuracy_score(y_test,y_pred2)

Accuracy score of decision tree

In [24]:
score

0.7806973218797373

Accuracy Score of random forest classifier using bagging method of ensemble technique

In [25]:
score2

0.7945932289034866